<div class="user-container" *ngIf="user">
  <ng-container *ngIf="!isEdit">
    <h4>{{ user.name }}</h4>
    <h6>{{ user.username }}</h6>
    <h6>{{ user.email }}</h6>

    <button class="btn btn-primary" (click)="onEditClick()">Edit</button>
  </ng-container>
  <ng-container *ngIf="isEdit">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input
          id="name"
          type="text"
          class="form-control"
          formControlName="name"
          [ngClass]="{ 'is-invalid': userForm.get('name').invalid }"
        />
        <div class="invalid-feedback" *ngIf="userForm.get('name').errors?.required">Name is required</div>
        <div class="invalid-feedback" *ngIf="userForm.get('name').errors?.forbiddenName">Name is forbidden</div>
      </div>
      <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input
          id="username"
          type="text"
          class="form-control"
          formControlName="username"
          [ngClass]="{ 'is-invalid': userForm.get('username').invalid }"
        />
        <div class="invalid-feedback" *ngIf="userForm.get('username').errors?.required">Username is required</div>
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input
          id="email"
          type="text"
          class="form-control"
          formControlName="email"
          [ngClass]="{ 'is-invalid': userForm.get('email').invalid }"
        />
        <div class="invalid-feedback" *ngIf="userForm.get('email').errors">
          <div *ngIf="userForm.get('email').errors.required">
            Email is required
          </div>
          <div *ngIf="userForm.get('email').errors.email">
            Email is invalid
          </div>
        </div>
      </div>

      <button [disabled]="userForm.invalid">Submit</button>
    </form>
  </ng-container>
</div>
